h1 {
    font-family: Verdana;
}

body {
    background-color: white;
    margin: 0px;
}

#header {
    width: 100%;
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#container {
    width: 1280;
    height: auto;
    margin-top: 20px;
}

#container iframe {
    border: none;
    height: 720px;
    width: 1280px;
}

.list {
    margin: 20px;
}

.list a {
    color: blue;
	text-decoration: none;
}

.list a:visited {
	color: blue;
}

.list a:hover {
	text-decoration: underline;
	color: rgba(31,0,255,0.55);
}

.list a:active {
	color: blue;
}

.butt {
    float: left;
}

.butt a {
    margin-left: 10px;
    padding: 15px;
    border-radius: 30px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}

.butt a:hover {
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

.butt a:active {
    height: auto;
    width: auto;
    background-color: rgba(123,123,123,0.5);
	color: blue;
}

.butt a:visited {
	color: blue;
}

@media only screen and (max-width: 360px) {
	#header {
		text-align: center;
	}
	
	#container {
		width: 360px;
		height: 350px;
		overflow: auto;
	}
	
	body {
		text-align: center;
	}
	
	.list {
		margin: 10px;
		margin-left: auto;
		margin-right: auto;
		border: rgba(168,168,168,0.5) solid 1px;
		padding: 12px;
		border-radius: 10px;
		font-size: 13px;
		width: 200px;
	}
	
	.list a {
	}
	
	.list:hover {
		background-color: rgba(178,178,178,0.5);
	}
}
