h1 {
    font-family: Verdana;
}

body {
    background-color: hotpink;
    margin: 0px;
}

#header {
    width: 100%;
    height: 100px;
    text-align: center;
    float: left;
	background-color: rgba(255,255,255,0.3);
}

#mcont {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    height: 100%;
    width: 185px;
    float: left;
}

#container {
    width: 1024px;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#container iframe {
    border: none;
    height: 576px;
    width: 1024px;
}

.butt {
    float: left;
    margin-top: 35px;
}

.butt a {
    margin-left: 10px;
    padding: 15px;
    border-radius: 30px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
	text-decoration: none;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.butt a:hover {
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

.butt a:active {
    height: auto;
    width: auto;
    background-color: rgba(123,123,123,0.5);
}

.butt a:visited {
	color: blue;
}