h1 {
    font-family: Verdana;
}

body {
    background-color: darkgray;
    margin: 0px;
}

p {
	font-size: 25px;
}

input[type=text] {
	border: none;
	border-radius: 20px;
	width: 46%;
	padding-left: 2%;
	padding-right: 2%;
	height: 35px;
	font-size: 25px;
	margin-bottom: 10px;
	transition: background-color 0.2s ease-in-out;
}

input[type=submit] {
	border: 1px solid black;
	border-radius: 20px;
	height: 30px;
	padding: 5px;
	font-size: 20px;
	background-color: darkgray;
}

input[type=submit]:hover {
	cursor: pointer;
	background-color: rgb(155,155,155);
}

input[type=submit]:active {
	background-color: rgb(140,140,140);
}

#header {
    width: 100%;
    height: 100px;
    text-align: center;
    float: left;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}

#mcont {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    height: 100%;
    width: 185px;
    float: left;
}

#container {
    width: 1024px;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#container iframe {
    border: none;
    height: 576px;
    width: 1024px;
}

.butt {
    margin-top: 40px;
}

.butt a {
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
	text-decoration: none;
	transition: padding 0.3s, background-color 0.3s;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.butt button {
	padding: 15px;
    border-radius: 30px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}

.butt a:hover {
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
	padding: 20px;
	transition: padding 0.3s, background-color 0.3s;
}

.butt a:active {
    height: auto;
    width: auto;
    background-color: rgba(123,123,123,0.5);
	color: blue;
	padding: 15px;
	transition: padding 0.1s, background-color 0.1s;
}

.butt a:visited {
	color: blue;
}

@media only screen and (max-width: 360px) {
	#container {
		width: auto;
    	height: auto;
    	margin-top: 20px;
    	margin-left: 52px;
    	margin-right: 0px;
		float: left;
		display: block;
	}
	
	#container iframe {
		height: 144px;
		width: 256px;
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	#mcont {
		text-align: center;
		float: left;
		display: block;
		width: 360px;
	}
	
	#header {
		display: block;
		margin-top: 0px;
	}
	
	#sidebar {
		text-align:center;
		display: block;
		height: 320px;
		width: auto;
		overflow: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}